/ !!! 5
/ .wrapper
/   = render "./shared/side_bar"
/   .chat
/     .header
/       .left-header
/         .left-header__title
/           sample
/         %ul.left-header__members
/           Member：
/           %li.member
/             seo
/           %li.member
/             neko

/       .right-header
/         .right-header__button
/           Edit

/     .messages
/       / 繰り返し部分
/       .message
/         .upper-message
/           .upper-message__user-name
/             seo
/           .upper-message__date
/             2018/01/08 16:52:58
/         .lower-message
/           %p.lower-message__content
/             Hello world!
/       .message
/         .upper-message
/           .upper-message__user-name
/             neko
/           .upper-message__date
/             2018/01/08 16:52:58
/         .lower-message
/           %p.lower-message__content
/             Good bye world!
/     / 繰り返し部分

/     .form
/       %input.form__message{placeholder: "type a message"}
/       .form__mask
/         %label.form__mask__image{for: "file_image"}
/           %i.fa.fa-picture-o{id:"file", style: "cursor:pointer"}
/       .form__submit
/         Send
