.notification {
  .notice {
    background-color: $chatspace-main;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert-bg;
    color: $white;
    text-align: center;
  }
}
