$white: #FFF;

$sb-bg-header: #253141;
$sb-bg-groups: #2F3E51;
$sb-padding: 0 20px;

$chat-border: #EEE;
$chat-f-title: #333;
$chat-f-message: #434A54;
$chat-f-small: #999;
$chat-bg-blue: #38AEF0;
$chat-bg-form: #DDD;
$chat-bg-messages: #FAFAFA;
